@use '../../../sass/01-abstracts/variable' as *;
@use '../../../sass/01-abstracts/mixins' as *;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;600&display=swap');

.container-auth{
    height: 89vh;
    background-image: url(../../../assets/image/img/login/background.svg);
    background-size: cover;
    background-position: top center;
    display: flex;
    align-items: center;
    justify-content: center;
    @media(max-width: 2600px){
    }
    @media(max-width: 4000px){
        height: 87vh;
        align-items: start;
        background-position-y: 0;
    }

    @media(max-width: 1680px){
        height: 88vh;
        align-items: center;
    }

    @media(max-width: 1440px){
    }
    @media(max-width: 1300px){
    }
    @media(max-width: 1050px){
    }
    @media(max-width: 600px){
        height: 100vh;
        display: block;
        background-position: inherit;
    }

    &__formulario{
        text-align: center;
        @media(max-width: 4000px){
           width: 40%;
        }
        @media(max-width: 1960px){
            width: auto;
         }
        .logo{
            img{
                width: 70%;
                margin-bottom: 10px;
                @media(max-width: 4000px){
                    width: auto;
                    padding-top: 40px;
                }
                @media(max-width: 2000px){
                    margin-bottom: 10px;
                }

                @media(max-width: 1680px){
                    padding-top: 0;
                    width: 70%;
                    margin-bottom: 10px;
                }
                @media(max-width: 600px){
                    width: 90%;
                }
            }
            @media(max-width: 4000px){
                align-items: start;
                background-position-y: 0;
                height: 400px;
            }
            @media(max-width: 1680px){
                height: auto;
                width: 95%;
                margin: auto;
            }
            @media(max-width: 600px){
                width: 75%;
                margin-bottom: 30px;
                padding-top: 40px;
            }
        }
        form{
            background-color: $white;
            width: 72%;
            margin: auto;
            padding: 40px 60px;
            box-sizing: border-box;
            border-radius: 30px;
            @media(max-width: 4000px){
                width: 75%;
                padding: 60px;
            }

            @media(max-width: 1960px){
                width: 100%;
                padding: 70px 60px;
            }

            @media(max-width: 1680px){
                width: 100%;
                padding: 35px 70px;
            }
            @media(max-width: 600px){
                width: 80%;
                padding: 50px 35px;
                padding-top: 40px;
            }

            h3{
                color: $color-primary;
                font-size: 22px;
                font-weight: 600;

                @media(max-width: 4000px){
                    font-size: 36px;
                }

                @media(max-width: 1960px){
                    font-size: 28px;
                }

                @media(max-width: 1680px){
                    font-size: 20px;
                }
                @media(max-width: 600px){
                    font-size: 23px;
                    line-height: 1.3;
                }   
            }

            .form-group{
                display: flex;
                flex-direction: column;
                text-align: left;
                padding-top: 30px;
                label{
                    font-size: 15px;
                    margin-bottom: 10px;
                    font-weight: 600;
                    color: #58595A;

                    @media(max-width: 4000px){
                        font-size: 30px;
                    }
                    @media(max-width: 1960px){
                        font-size: 22px;
                    }
    
                    @media(max-width: 1680px){
                        font-size: 14px;
                    }
                }
                input{
                    @include input(18px, 1px, #8B8B8B, 10px);
                    text-align: center;
                    font-weight: 600;
                    margin-bottom: 10px;
                    border-radius: 50px;
                    @media(max-width: 4000px){
                        font-size: 40px;
                        @include input(36px, 1px, #8B8B8B, 15px);
                        margin-bottom: 30px;
                    }

                    @media(max-width: 1960px){
                        @include input(23px, 1px, #8B8B8B, 15px);
                        margin-bottom: 15px;
                    }

                    @media(max-width: 1680px){
                        @include input(18px, 1px, #8B8B8B, 10px);
                        margin-bottom: 10px;
                    }

                    @media(max-width: 600px){
                        @include input(18px, 1px, $gray, 5px);
                        margin-bottom: 5px;
                    }   
                }
                span{
                    font-size: 14px;
                    color: red;
                    @media(max-width: 4000px){
                        font-size: 30px;
                    }
                    @media(max-width: 1960px){
                        font-size: 18px;
                    }
                    @media(max-width: 1680px){
                        font-size: 12px;
                    }
                }
            }
            button{
                @include button(true, $color-primary, $white, 50px, 18px, 10px);
                margin: auto;
                cursor: pointer;
                font-family: 'Poppins', sans-serif !important;
                @media(max-width: 4000px){
                    width: 75%;
                    @include button(true, $color-primary, $white, 50px, 36px, 15px);
                    margin: auto;
                }
                
                @media(max-width: 1960px){
                    width: 75%;
                    @include button(true, $color-primary, $white, 50px, 23px, 15px);
                    margin: auto;
                }
                @media(max-width: 1680px){
                    width: 75%;
                    @include button(true, $color-primary, $white, 50px, 18px, 10px);
                    margin: auto;
                }

                @media(max-width: 600px){
                    width: 85%;
                    @include button(true, $color-primary, $white, 50px, 16px, 8px);
                    margin: auto;
                }  
            }
        }
        .logo_bottom{
            display: none;
            @media (max-width:600px){
                display: block;
                padding: 20px 0;
                img{
                    width: 140px;
                }
            }
        }
    }
}

@media (max-width:600px){
    app-header{
        display: none;
    }
}